@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  color: #f8fafc;

  background:
    radial-gradient(
      circle at top,
      #0f172a,
      #07111f
    );
}